.carrousel-global-div {
    height: 130vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #07111d;

    display: flex;
    flex-direction: column;
}

.carroussel-image {
    height: 53%;
    width: 80%;

    position: relative;
    margin-top: 50px;
}

.title--carrousel-global-div {
    color: white;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Gilroy-ExtraBold';
}

.carrousel-div-image {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.carousel-wrapper {
    position: relative;
    height: 90%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 20px;
}

.robot--image-carousel {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-dots {
    cursor: pointer;

    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.container-dots--map {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;

    cursor: pointer;
}

.dot.active {
    background: rgb(32, 32, 32);
}

.text--dots {
    height: 150px;
    width: 60%;

    margin-top: 30px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text--title--dot {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 100%;
    font-size: 26px;
    color: white;
    text-align: center;

    font-family: 'Gilroy-ExtraBold';
}

.text--para--dot {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;

    font-family: 'Gilroy-Light';
}


@media screen and (max-width: 500px) {

    .title--carrousel-global-div {
        color: white;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        font-family: 'Gilroy-ExtraBold';
    }

    .text--title--dot {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 30%;
        width: 100%;
        font-size: 22px;
        color: white;
        text-align: center;
    
        font-family: 'Gilroy-ExtraBold';
    }
    
    .text--para--dot {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 70%;
        width: 100%;
        font-size: 16px;
        text-align: center;
        color: white;
    
        font-family: 'Gilroy-Light';
    }

    .carroussel-image {
        height:35%;
        width: 80%;
    
        position: relative;
        margin-top: 50px;
    }

    .carousel-wrapper {
        position: relative;
        height: 80%;
        width: 80%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 20px;
    }
    
}