.navbar {
  background-color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar-hiverbtcsLock {
  padding: 0.4rem 0rem;
  height: 100%;
}

.menu-icon {
  height: 50%;

  display: flex;
  align-items: center;

  position: absolute;
  left: 30px;
}

.logo--navbar {
  height: 100%;
  padding: 2px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 8vh;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;

  font-family: 'Gilroy-Light';
}

.nav-links:hover {
  border-bottom: 4px solid #FF4D00;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
  font-size: 1.2rem;
}

.nav-links-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .logo--navbar {
    height: 100%;
    padding: 8px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 8vh;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;

    color: #fff;
    font-family: 'Gilroy-Light';
  }

  .nav-links:hover {
    color: #FF4D00;
    border-radius: 0;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 90%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

    font-family: 'Gilroy-Light';
  }

  .nav-links-mobile:hover {
    background: #FF4D00;
    border: 1px solid #FF4D00;
    color: #fff;
    transition: 250ms;
  }
}